<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Duet</h1>
    <button onclick="play()">Play</button>

    <script type="text/javascript">
      
    </script>
  </body>
</html>
